<footer class="footer">
  <div>
    <h3>Tienda</h3>
    <nav>
      <ul>
        <li>
          <a href="https://adalab.es/" title="Productos">Productos</a>
        </li>
        <li>
          <a href="https://adalab.es/" title="Cajoneras">Cajoneras</a>
        </li>
        <li>
          <a href="https://adalab.es/" title="Para toda la casa"
            >Para toda la casa</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" title="Habitaciones">Habitaciones</a>
        </li>
      </ul>
    </nav>
  </div>
  <div>
    <h3>Nosotros</h3>
    <nav>
      <ul>
        <li>
          <a href="https://adalab.es/" title="Nuestra guía">Nuestra guía</a>
        </li>
        <li>
          <a href="https://adalab.es/" title="Nuestro diseño">Nuestro diseño</a>
        </li>
        <li>
          <a href="https://adalab.es/" title="Nuestra historia"
            >Nuestra historia</a
          >
        </li>
        <li><a href="https://adalab.es/" title="Ayuda">Ayuda</a></li>
      </ul>
    </nav>
  </div>
  <div>
    <h3>Contacto</h3>
    <nav>
      <ul>
        <li>
          <a href="mailto:ayuda@openspaces.com" title="Email"
            >ayuda@openspaces.com</a
          >
        </li>
        <li><a href="https://adalab.es/" title="Socios">Socios</a></li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li>
          <a href="https://adalab.es/" title="linkedin"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </li>
        <li>
          <a href="https://adalab.es/" title="instagram"
            ><i class="fab fa-instagram"></i
          ></a>
        </li>
        <li>
          <a href="https://adalab.es/" title="twitter"
            ><i class="fab fa-twitter"></i
          ></a>
        </li>
      </ul>
    </nav>
  </div>
  <a href="./index.html#header" title="subir"><i class="fa fa-arrow-up"></i></a>
</footer>
