<header class="header" id="header">
  <nav class="header__burger">
    <a
      href="https://adalab.es/"
      class="header__burger--link"
      title="Menú Hamburguesa"
      ><i class="fas fa-bars"></i
    ></a>
  </nav>
  <nav class="header__menu">
    <ul class="header__menu--items">
      <li class="header__menu--items_link">
        <a href="https://adalab.es/" title="Productos">Productos</a>
      </li>
      <li class="header__menu--items_link">
        <a href="https://adalab.es/" title="Colecciones">Colecciones</a>
      </li>
      <li class="header__menu--items_link">
        <a href="https://adalab.es/" title="Tienda">Tienda</a>
      </li>
      <li class="header__menu--items_link">
        <a href="https://adalab.es/" title="Inicio">Inicio</a>
      </li>
    </ul>
  </nav>
  <img
    class="header__logo"
    src="./assets/images/logo.png"
    alt="logo"
    title="Logo Open Spaces"
  />
</header>
