<header class="header" id="header">
  <nav class="header__menu">
    <a href="https://adalab.es/" class="header__burger" title="Menú Hamburguesa"
      ><i class="fas fa-bars header__burger"></i
    ></a>

    <ul class="header__menu_list">
      <li class="header__menu--items">
        <a
          class="header__menu--items_link"
          href="https://adalab.es/"
          title="Productos"
          >Productos</a
        >
      </li>
      <li class="header__menu--items">
        <a
          class="header__menu--items_link"
          href="https://adalab.es/"
          title="Colecciones"
          >Colecciones</a
        >
      </li>
      <li class="header__menu--items">
        <a
          class="header__menu--items_link"
          href="https://adalab.es/"
          title="Tienda"
          >Tienda</a
        >
      </li>
      <li class="header__menu--items">
        <a
          class="header__menu--items_link"
          href="https://adalab.es/"
          title="Inicio"
          >Inicio</a
        >
      </li>
    </ul>
  </nav>
  <img
    class="header__logo"
    src="./assets/images/logo.png"
    alt="logo"
    title="Logo Open Spaces"
  />
</header>
