.header {
  position: fixed;
  top: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.header__menu {
  display: none;
}

.header__burger {
  position: absolute;
  top: 55px;
  left: 33px;
}

.header__burger--link {
  font-size: 24px;
  color: $colorDarkgreen;
}

.header__logo {
  width: 213px;
  height: 96px;
  margin-top: 19px;
}
