.header {
  position: absolute;
  top: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 100vw;
  &__menu {
    position: fixed;
    z-index: 999;
    top: 55px;
    left: 33px;
    @media all and (min-width: 768px) {
      top: 75px;
      left: 82px;
    }
    @media all and (min-width: 1200px) {
      left: 60px;
      &--items {
        list-style: none;
        display: inline-block;
        padding: 0 15px;
      }
      &--items_link {
        text-decoration: none;
        color: $colorDarkgreen;
      }
    }
  }
  &__menu_list {
    display: none;
    @media all and (min-width: 768px) {
      display: none;
    }
    @media all and (min-width: 1200px) {
      display: flex;
      align-items: center;
    }
  }
  &__burger {
    font-size: 24px;
    color: $colorDarkgreen;
    @media all and (min-width: 1200px) {
      display: none;
    }
  }
  &__logo {
    width: 213px;
    height: 96px;
    margin-top: 19px;
    position: static;
    z-index: 999;
    @media all and (min-width: 768px) {
      margin-top: 39px;
    }
  }
}
