.header {
  position: fixed;
  top: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.header__menu_list {
  display: none;
}

.header__menu {
  position: absolute;
  top: 55px;
  left: 33px;
}

.header__burger--link {
  font-size: 24px;
  color: $colorDarkgreen;
}

.header__logo {
  width: 213px;
  height: 96px;
  margin-top: 19px;
}

@media all and (min-width: 768px) {
  .header__logo {
    margin-top: 39px;
  }
  .header__menu_list {
    display: none;
  }
  .header__menu {
    top: 75px;
    left: 82px;
  }
}

@media all and (min-width: 1200px) {
  .header__burger {
    display: none;
  }

  .header__menu--items {
    list-style: none;
    display: inline-block;
    padding: 0 15px;
  }
  .header__menu_list {
    display: flex;
    align-items: center;
  }

  .header__menu--items_link {
    text-decoration: none;
    color: $colorDarkgreen;
  }
  .header__menu {
    left: 60px;
  }
}
