.section1 {
  background-color: $colorBeige;
  color: $colorDarkgreen;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 41px 47px 41px 45px;
  justify-items: center;
  &__title--caps {
    text-transform: uppercase;
  }
  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 60px 40px;
    &__title {
      grid-column: 1/4;
    }
  }
  @media all and (min-width: 1200px) {
    padding: 42px;
    &__title {
      max-width: 50%;
    }
  }
}
