.section3 {
  background-color: $colorBeige;
  color: $colorDarkgreen;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.section3__container {
  height: 339px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 27px;
}

.section3__container--button {
  margin-top: 24px;
  background-color: $colorDarkgreen;
  color: $colorWhite;
  font-family: $fontMain;
  font-size: 16px;
  padding: 12px 24px;
  text-transform: capitalize;
}

.section3__container--title {
  margin-top: 10px;
  font-size: 24px;
}

.section3__container--text {
  font-size: 14px;
}

@media all and (min-width: 768px) {
  .section3__container--title {
    font-size: 30px;
  }
  .section3__container--text {
    margin-top: 10px;
    max-width: 50%;
  }
}
@media all and (min-width: 1200px) {
  .section3 {
    flex-direction: row;
    align-items: center;
  }
  .section3__container {
    width: 50%;
    align-items: flex-start;
    padding: 14%;
  }
  .section3__image {
    width: 50%;
  }
  .section3__container--text {
    text-align: left;
    max-width: 250px;
  }
  .section3__container--title {
    max-width: 260px;
    text-align: left;
  }
}
