.section1 {
  background-color: $colorBeige;
  color: $colorDarkgreen;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 41px 47px 41px 45px;
}

.section1__title--caps {
  text-transform: uppercase;
}
