<section class="section1">
  <h2 class="section1__title">
    Volverse organizado se siente mejor con
    <span class="section1__title--caps">Open Spaces</span>
  </h2>
  <include
    src="./article/article.html"
    imageSrc="./assets/images/icon_1.png"
    imageAlt="Icono productos"
    articleTitle="Lo que necesitas"
    articleText="Una línea de productos diseñados para todos tus espacios"
  ></include>
  <include
    src="./article/article.html"
    imageSrc="./assets/images/icon_2.png"
    imageAlt="Icono materias primas"
    articleTitle="Materias primas sustentables"
    articleText="Todos los productos con materias primas sustentables"
  ></include>
  <include
    src="./article/article.html"
    imageSrc="./assets/images/icon_3.png"
    imageAlt="Icono guía"
    articleTitle="Guía"
    articleText="Soporte y asesoramiento para ayudarte con tu objetivo"
  ></include>
</section>
